body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}
#keys{
    /* display: flex; */
    /* justify-content: space-around; */
    padding: 100px;

    

    

}
#display{
    width: 75%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: solid 1px;
    
    color: black;
    padding: 3px;
    margin-bottom: 25px;
    margin-left: 10%;

}
button:hover{
    background-color: rgb(102, 113, 140);
}
button:active{
    background-color: rgb(125, 158, 187);
}